<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="online_help_token"/>
<div class="wrapper-sock wrapper">
  <ul class="list-actions list-cta">
    <li class="action-item">
      <a href="#sock" class="cta cta-show-sock"><i class="icon fa fa-question-circle"></i>
        <span class="copy-show is-shown">${_("Looking for help with {studio_name}?").format(studio_name=settings.STUDIO_SHORT_NAME)}</span>
        <span class="copy-hide is-hidden">${_("Hide {studio_name} Help").format(studio_name=settings.STUDIO_SHORT_NAME)}</span>
      </a>
    </li>
  </ul>

  <div class="wrapper-inner wrapper">
    <section class="sock" id="sock">
      <header>
        <h2 class="title sr">${_("{studio_name} Documentation").format(studio_name=settings.STUDIO_NAME)}</h2>
      </header>

      <div class="support">
        <h3 class="title">${_("{studio_name} Documentation").format(studio_name=settings.STUDIO_NAME)}</h3>

        <div class="copy">
          <p>${_("You can click Help in the upper right corner of any page to get more information about the page you're on. You can also use the links below to download the Building and Running an {platform_name} Course PDF file, to go to the {platform_name} Author Support site, or to enroll in edX101.").format(platform_name=settings.PLATFORM_NAME)}</p>
        </div>

        <ul class="list-actions">
          <li class="action-item js-help-pdf">
            <a href="http://docs.edx.org" target="_blank" rel="external" class="action action-primary">${_("edX Documentation")}</a>
          </li>

        % if settings.FEATURES.get('IS_EDX_DOMAIN', False):
          <li class="action-item">
            <a href="https://partners.edx.org" rel="external" class="action action-primary">${_("edX Partner Portal")}</a>
            <!-- <span class="tip">${_("{studio_name} Author Support").format(studio_name=settings.STUDIO_NAME)}</span> -->
          </li>
        % else:
          <li class="action-item">
            <a href="https://open.edx.org" rel="external" class="action action-primary">${_("Open edX Portal")}</a>
            <!-- <span class="tip">${_("{studio_name} Author Support").format(studio_name=settings.STUDIO_NAME)}</span> -->
          </li>
        % endif

          <li class="action-item">
            <a href="https://www.edx.org/course/overview-creating-edx-course-edx-edx101#.VO4eaLPF-n1" rel="external" class="action action-primary">${_("Enroll in edX101")}</a>
            <span class="tip">${_("How to use {studio_name} to build your course").format(studio_name=settings.STUDIO_NAME)}</span>
          </li>

          <li class="action-item">
            <a href="https://www.edx.org/course/creating-course-edx-studio-edx-studiox" rel="external" class="action action-primary">${_("Enroll in StudioX")}</a>
            <span class="tip">${_("How to use {studio_name} to build your course").format(studio_name=settings.STUDIO_NAME)}</span>
          </li>

        % if 'PARTNER_SUPPORT_EMAIL' in settings.FEATURES:
          <li class="action-item">
            <a href="mailto:${settings.FEATURES['PARTNER_SUPPORT_EMAIL']}" rel="external" class="action action-primary">${_("Contact Us")}</a>
            <span class="tip"></span>
          </li>
        % endif
        '</ul>
      </div>
    </section>
  </div>
</div>
